.page-header {
    background-color: #1f71e0;
    margin-top: 0;
    padding: 20px 20px 20px 40px;
}
.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: #ffffff;
    font-size: 30pt;
    text-decoration: none;
}
.content {
    margin-left: 120px;
    margin-right: 120px;
    margin-bottom: 50px;
    padding-bottom: 40px;/*高度等于footer的高度*/
    font-size: 15px; /*正文字体大小*/
}
h1, h2, h3, h4 {
    font-family: 'Lobster', cursive;
}
.date {
    float: right;
    color: #828282;
}
.save {
    float: right;
}
.post-form textarea, .post-form input {
    width: 100%;
}
.top-menu, .top-menu:hover, .top-menu:visited {
    color: #ffffff;
    float: right;
    font-size: 26pt;
    margin-right: 20px;
}
.post {
    margin-bottom: 70px;
		
}
.post h1 a, .post h1 a:visited {
    color: #000000;
}

.blogtext{
	border:1px solid ;
  border-radius:10px;
}
.blogbody{
width:95%;
margin: 0 auto;
}

.papertitlecap{
height:50px;
}
.papertitlecap ul{
display:flex;
justify-content:space-between;
padding:0;
}
.subfooter{
  margin-bottom:150px;
}
.subfooter ul{
display:flex;
justify-content:space-between;
padding:0;
}

.subfooter ul li{
cursor:auto;
padding:0;
list-style:none;
}

.papertitlecap li{
cursor:auto;
padding:0;
list-style:none;
}
.papertitlecap .subtitle{
font-size:40px;
}

div.pagination{
  /* display:block; */
  text-align:center;
  font-size:20px;
  width:100%;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}
#container {
    min-height: 100%;
    height: auto !important;
    height: 100%;
}
#footer {
position:absolute;
bottom: 0;
width: 100%;
height: 60px;/*脚部的高度*/ background: #6cf;
clear:both;
}

/* writing */
/* .writing_choice{ */
/*   height:30px; */
/* } */

.writing_choice ul{
  padding:0;
}

.writing_choice ul li{
  list-style:none;
  padding:0px;
cursor:auto;
display:inline-block;
}

/* .writing_post label{ */
/*   text-align:left; */
/* } */


/* login form */
.container .row .col-md-12 >div#loginform {
  width:400px;
  text-align:center;
  margin:0 auto;
}

.container .row .col-md-12 >div#loginform button{
  border-radius:10px;
  border:2px solid;

}
