{% extends 'blog/template.html' %}
{% load staticfiles %}
{% block content %}
<script type="text/javascript" charset="utf-8">
  $(function() { 
    $(".animate-box").removeClass("fh5co-active");
    $("div #me").addClass("fh5co-active"); 
});
</script>
<header id="fh5co-header" role="banner" class="fh5co-project js-fh5co-waypoint no-border" data-colorbg="#222222" data-next="yes">
  <div class="container">
    <div class="fh5co-text-wrap animate-box">
      <div class="fh5co-intro-text">
        <h1>Who Am I <span>&amp;</span> What I do </h1>
				<h2>Built by&nbsp<a href="{% url 'about_me' %}">moonclearner</a></h2>
      </div>
    </div>
  </div>
</header>
<div class="js-fh5co-waypoint fh5co-project-detail" id="fh5co-main" data-colorbg="">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="row row-bottom-padded-sm animate-box">
          <div class="col-md-3">
            <h3 class="fh5co-section-heading"><span class="fh5co-number">N<sup>o</sup> 1</span> Bio</h3>
          </div>
          <div class="col-md-9">
						<p>
            <figure style="text-align:center" class="fh5co-bio-photo"><img src="/static/images/title.jpg" class="img-responsive" alt="Free HTML5 Bootstrap Template"></figure>
						</p>
            <p class="fh5co-lead">Dai jinajian, online name moonclearner, born in 1994, currently a graduate student at Chongqing University of Posts and Telecommunications, specializing in electronics and communications engineering, like programming and video games.</p>
            <p>Do What I Wanna Do, And I Can Do Better</p>
          </div>
        </div>
        <div class="row row-bottom-padded-sm animate-box">
          <div class="col-md-12">
            <figure class="fh5co-bio-photo"><img src="/static/images/img.jpg" class="img-responsive" alt="Free HTML5 Bootstrap Template"></figure>
          </div>
        </div>
        <div class="row animate-box row-bottom-padded-sm">
          <div class="col-md-3">
            <h3 class="fh5co-section-heading"><span class="fh5co-number">N<sup>o</sup> 2</span> Experience</h3>
          </div>
          <div class="col-md-9">
            <p class="fh5co-lead">Research direction of intrusion detection in wireless sensor networks based on machine learning.</p>
            <p>Vim editor lovers</p>
            <p>Linux lovers</p>
						<p>Python lovers</p>
						<p>Hardware developer</p>
						<p>Open source advocates:  <a href="https://github.com/moonclearner/blog">Blog source code</a><a href="https://github.com/moonclearner/MarkDown">&nbsp Article markdown share</a></p>
          </div>
        </div>	
        <div class="row animate-box row-bottom-padded-sm">
          <div class="col-md-3">
            <h3 class="fh5co-section-heading"><span class="fh5co-number">N<sup>o</sup> 3</span> Connect</h3>
          </div>
          <div class="col-md-9">
            <ul class="fh5co-social fh5co-stack">
              <li>
                <p><i class="icon-mail2"></i>moonclearner@hotmail.com</p>
              </li>
              <li>
                <p><i class="icon-qq"></i>718857460</p>
              </li>
              <li>
                <p><i class="icon-wechat"></i><span><img src="{% static 'images/wechat.jpg' %}" class="img-responsive" alt="Responsive image"></span></p>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
