{% load staticfiles %}
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.4/css/bootstrap.min.css">
    <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'css/myblog.css' %}">
    <link rel="stylesheet" href="{% static 'css/pygments.css' %}">
    <style type="text/css">.fixed_div{position:fixed;right:100px;bottom:100px;}</style>
    <title>Django Simple Blog</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="This is a simple django blog!">
    <title>Simple Django Blog</title>
</head>
<body>
  <div id="container">
    
    <div class="page-header">
      <div class="row">
          <div style="float: left" > <h1><a href="/">Django Simple Blog</a></h1></div>
          <div style="float: right">
              <ul class="nav nav-pills">
                  <li class="active"><a href="{% url 'archives' %}"><span class="glyphicon glyphicon-briefcase"></span>归档</a></li>
                  <li class="active"><a href="{% url 'about_me' %}"><span class="glyphicon glyphicon-user"></span>关于</a></li>
                  {% if user.is_authenticated %}
                  <li class="active"><a href="{% url 'post_new' %}"><span class="glyphicon glyphicon-pencil"></span> 新建</a></li>
                  <li class="active"><a href="{% url 'post_draft_list' %}"><span class="glyphicon glyphicon-th-list"></span> 草稿箱</a></li>
                  <li class="active"><a href="{% url 'logout' %}"><span class="glyphicon glyphicon-circle-arrow-down"></span> 注销</a></li>
                  {% else %}
                  <li class="active"><a href="{% url 'login' %}"><span class="glyphicon glyphicon-circle-arrow-up"></span>登录</a></li>
                  {% endif %}
                  <li>
                      <form class="pure-form" action="/search/" method="get">
                      <input class="pure-input-3-3" type="text" name="searchcontent" placeholder="search">
                      </form>
                  </li>
              </ul>
          </div>
      </div>
    </div>
    <div class="content">
        <div class="row">
          <!-- col-md-8 bootstrap -->
            <div class="col-md-8">
                {% block content %}
                {% endblock %}
            </div>
        </div>
    </div>
  <div class="fixed_div">
      <a id="gotop" href="#" onclick="goTop();return false;">
          <button type="button" class="btn btn-default btn-lg" style="font-size: 10px">
              <span class="glyphicon glyphicon-arrow-up"></span>
          </button>
      </a>
  </div>
  </div>
  <div class="col-md-10">
    <div id="footer">Copyright © 2016 moonclearner</div>
  </div>
</body>
</html>
