{% extends 'blog/templateblog.html' %}
{% load staticfiles %}

{% block script %}
<!-- If directly use static, will error -->
<script type="text/javascript" charset="utf-8">
$(function() { 
  $(".animate-box").removeClass("fh5co-active");
  $("div #blog").addClass("fh5co-active"); 
});
</script>

<header id="fh5co-header" role="banner" class="fh5co-project js-fh5co-waypoint no-border" data-colorbg="#222222" data-next="yes">
  <div class="container">
    <div class="fh5co-text-wrap animate-box">
      <div class="fh5co-intro-text">
        <h1>Perfection <span>Stems From </span>Persistence</h1>
      </div>
    </div>
  </div>
  <div class="btn-next animate-box fh5co-learn-more">
    <a href="#" class="scroll-btn">
      <span>See the detail</span>
      <i class="icon-chevron-down"></i>
    </a>
  </div>
</header>

{% endblock %}

{% block body %}
{% for post in posts %}
<div class="post">
  <div class="papertitlecap list-inline text-capitalize">
    <ul>
      <li class="subtitle_author">
        {% if post.author %}
        <a class="post-category post-category-js" href="{% url 'search_condition' condition=post.author mode='author' %}">
          <span class="glyphicon glyphicon-user">{{post.author|title}}</span></a>
        {% endif %}
      </li>
      <li class="subtitle">
        <a href="{% url 'detail' pk=post.pk %}">{{ post.title }}</a>
      </li>
      <li class="subtitle_category">
        {% if post.category %}
        <a class="post-category post-category-js" href="{% url 'search_condition' condition=post.category mode='article' %}">
          <span class="glyphicon glyphicon-tag">{{post.category|title}}</span></a>
        {% endif %}
      </li>
    </ul>
  </div>

  <div class="blogtext">
    <div class="blogbody">
      <p>{{ post.text|safe|linebreaks|truncatewords:"50"}}</p>
    </div>
  </div>
  <div class="subfooter">
  <ul>
    <li>
    <a class="pure-button" href="{% url 'detail' pk=post.pk %}">More details>>> </a>
    </li>
    <li>
          {{ post.published_date |date:'M d, Y' }}
    </li>
  </ul>
  </div>


</div>
{% endfor %}
<div class="pagination">
  <span class="step-links">
    {% if posts.has_previous %}
    <a href="?page={{ posts.previous_page_number }}">上一页</a>
    {% endif %}
    {% for page_number in posts.paginator.page_range %}
    {% ifequal page_number posts.number %}
    {{page_number}}
    {% else %}
    <a href="?page={{ page_number }}">{{page_number}}</a>
    {% endifequal %}
    {% endfor %}
    {% if posts.has_next %}
    <a href="?page={{ posts.next_page_number }}">下一页</a>
    {% endif %}
  </span>
</div>
{% endblock %}
