<footer id="fh5co-footer" class="js-fh5co-waypoint">
	<div class="container">
		<div class="row">
			<div class="col-md-12 text-center">
				<ul class="fh5co-social">
					<li>
						<a href="https://github.com/moonclearner"><i class="icon-github"></i></a>
					</li>
					<li>
						<a href="https://www.facebook.com/profile.php?id=100011535317011"><i class="icon-facebook"></i></a>
					</li>
					<li>
						<a href="https://twitter.com/"><i class="icon-twitter"></i></a>
					</li>
					<li>
						<a href="http://blog.csdn.net/moonclearner"><i class="icon-chain"></i></a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</footer>
