{% extends 'blog/template.html' %}
{% block content %}
<!-- If directly use static, will error -->
{% load staticfiles %}
<script type="text/javascript" charset="utf-8">
$(function() { 
	$(".animate-box").removeClass("fh5co-active");
	$("div #home").addClass("fh5co-active"); 
});
</script>
<header id="fh5co-header" role="banner" class="fh5co-project js-fh5co-waypoint no-border" data-colorbg="#222222" data-next="yes">

	<div class="container">
		<div class="fh5co-text-wrap animate-box">
			<div class="fh5co-intro-text">
				<h1>I&acute;m a 23 Year Old Postgraduate based <span>in</span> Chongqin</h1>
				<h1>I&acute;love python <span>because</span> life is short</h1>
				<h2>Bulit by <a href="{% url 'about_me' %}" target="_blank">moonclearner</a></h2>
			</div>
		</div>
	</div>
</header>

<!-- paper share -->

<!-- data-colorbg="#8cc53e"  -->
{% for cate in categories %}
{% if cate.pk|divisibleby:"2" %}
<div class="fh5co-project js-fh5co-waypoint" data-bgcolor="" data-next="yes">
	<div class="container">
		<div class="fh5co-project-inner row">
			<div class="fh5co-imgs col-md-8 animate-box">
				<div class="img-holder-1 animate-box">
          <img src="{{ cate.image.url }}" alt="Free HTML5 Bootstrap Template">
				</div>
				<!-- <div class="img-holder-2 animate-box"> -->
				<!--   <img src="{% static 'images/vim_small.jpg' %}" class="img-responsive" alt="Free HTML5 Bootstrap Template"> -->
				<!-- </div> -->
			</div>
			<div class="fh5co-text col-md-4 animate-box">
        <h2>{{ cate.name }} Page</h2>
        <p>{{ cate.brief }}</p>
        <p><a href="{% url 'search_condition' condition=cate.name mode='article' %}" class="btn btn-light btn-outline transition">View Notes</a></p>
			</div>
		</div>
	</div>
</div>
{% else %}
<div class="fh5co-project js-fh5co-waypoint fh5co-reverse" data-colorbg="" data-next="yes">
	<div class="container">
		<div class="fh5co-project-inner row">
			<div class="fh5co-imgs col-md-8 col-md-push-4 animate-box">
				<div class="img-holder-1 animate-box">
          <img src="{{ cate.image.url }}" alt="Free HTML5 Bootstrap Template">
				</div>
			</div>
			<div class="fh5co-text col-md-4 col-md-pull-8 animate-box">
        <h2>{{ cate.name }} Page</h2>
        <p>{{ cate.brief }}</p>
        <p><a href="{% url 'search_condition' condition=cate.name mode='article' %}" class="btn btn-light btn-outline transition">View Notes</a></p>
			</div>
		</div>

	</div>
</div>
{% endif %}
{% endfor %}

<!-- [> data-colorbg="#7bc74d" <] -->
<!-- <div class="fh5co-project js-fh5co-waypoint fh5co-reverse" data-colorbg=""> -->
<!--   <div class="container"> -->
<!--     <div class="fh5co-project-inner row"> -->
<!--       <div class="fh5co-imgs col-md-8 col-md-push-4 animate-box"> -->
<!--         <div class="img-holder-1 animate-box"> -->
<!--           <img src="/static/images/work_4_large.jpg" alt="Free HTML5 Bootstrap Template"> -->
<!--         </div> -->
<!--         <div class="img-holder-2 animate-box"> -->
<!--           <img src="/static/images/work_4_small.jpg" alt="Free HTML5 Bootstrap Template"> -->
<!--         </div> -->
<!--       </div> -->
<!--       <div class="fh5co-text col-md-4 col-md-pull-8 animate-box"> -->
<!--         <h2>Slant for Creatives</h2> -->
<!--         <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p> -->
<!--         <p><a href="work_1.html" class="btn btn-light btn-outline transition">View Notes</a></p> -->
<!--       </div> -->
<!--     </div> -->
<!--   </div> -->
<!-- </div> -->


{% endblock %}
