{% extends 'blog/base.html' %}
{% block content %}
  {% for post in posts %}
    <div class="post">
      <div class="date">
      </div>
      <h2><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h2>
      <p>{{post.pk}}</p>
      <p>
      {% if post.category %}
      <a class="post-category post-category-js" href="{% url 'search_tag' tag=post.category %}">
        <span class="glyphicon glyphicon-tag">{{post.category|title}}</span></a>
      {% endif %}
      </p>
      <p>{{ post.text|safe|linebreaks}}</p>
      <a class="pure-button" href="{% url 'post_detail' pk=post.pk %}">更多>>> </a>
    </div>
  {% endfor %}
      <div class="pagination">
          <span class="step-links">
              {% if posts.has_previous %}
                  <a href="?page={{ posts.previous_page_number }}">上一页</a>
              {% endif %}
              {% for page_number in posts.paginator.page_range %}
              {% ifequal page_number posts.number %}
              {{page_number}}
              {% else %}
              <a href="?page={{ page_number }}">{{page_number}}</a>
              {% endifequal %}
              {% endfor %}
              {% if posts.has_next %}
                  <a href="?page={{ posts.next_page_number }}">下一页</a>
              {% endif %}
          </span>
      </div>
{% endblock %}
