{% extends "blog/base.html" %}
{% block content %}
  <div class="blog-post">
    {% for post in post_list %}
        <div class="date">
            {{ post.published_date |date:'M d, Y'}}
        </div>
        <h3 class="blog-post-title"><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h3>
        <p>
            <a class="post-category post-category-js" href="{% url 'search_tag' tag=post.category %}">{{ post.category|title }}</a>
        </p>
        <p>{{ post.text|linebreaks }}</p>
      <br />
    {% endfor %}
  </div>
{% endblock %}
