{% load staticfiles %}
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>BLOG &mdash; moonclearner Life is short, I use python</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="moonclearner's blog" />
	<meta name="keywords" content="moonclearner, python, blog" />
	<!-- Place favicon.ico-->
	<link rel="shortcut icon" href="{% static 'images/favicon.ico' %}">
	<!-- Bootstrap  -->
	<link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
	<!-- main css -->
	<link rel="stylesheet" id="theme-switch" href="{% static 'css/style.css' %}">
	<link rel="stylesheet" href="{% static 'css/myblog.css' %}">
	<link rel="stylesheet" href="{% static 'css/icommon.css' %}">

	<!-- jQuery -->
	<script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
	<!-- jQuery Cookie -->
	<script src="{% static 'js/jquery.cookie.js' %}"></script>
	<!-- Waypoints -->
	<script src="{% static 'js/jquery.waypoints.min.js' %}"></script>

	<script src="{% static 'js/main.js' %}"></script>
	<script src="{% static 'js/jquery.fullPage.js' %}"></script>
	{% block headscript %}

	{% endblock %}
</head>
<body>
	<div class="fh5co-loader"></div>
	<div id="fh5co-page">
		<nav id="fh5co-nav" role="navigation">
			<ul>
				<li id="home" class="animate-box fh5co-active"><a href="{% url 'home' %}" class="transition">Home</a></li>
				<li id="blog" class="animate-box"><a href="{% url 'blog' %}" class="transition">Blog</a></li>
				<li id="aboutme" class="animate-box"><a href="{% url 'about_me' %}" class="transition">AboutMe</a></li>
				{% if user.is_authenticated %}
				<li id="writing" class="animate-box"><a href="{% url 'writing' %}" class="transition">Writing</a></li>
				<li id="logout" class="active"><a href="{% url 'logout' %}"><span class="transition"></span>Logout</a></li>
				{% else %}
				<li id="login" class="active"><a href="{% url 'login' %}"><span class="transition"></span>Login</a></li>
				{% endif %}

			</ul>
			<a class="style-toggle js-style-toggle" data-style="default" href="#">
				<span class="fh5co-circle"></span>
			</a>
		</nav>
		{% block content %}


		{% endblock %}
	</div>
</body>
</html>

