{% load staticfiles %}
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>BLOG &mdash; moonclearner Life is short, I use python</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="moonclearner's blog" />
	<meta name="keywords" content="moonclearner, python, blog" />
	<!-- Place favicon.ico-->
	<link rel="shortcut icon" href="{% static 'images/favicon.ico' %}">
	<!-- Bootstrap  -->
	<link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
	<!-- main css -->
	<link rel="stylesheet" id="theme-switch" href="{% static 'css/style.css' %}">
	<link rel="stylesheet" href="{% static 'css/myblog.css' %}">
	<link rel="stylesheet" href="{% static 'css/icommon.css' %}">

	<!-- jQuery -->
	<script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
	<!-- jQuery Cookie -->
	<script src="{% static 'js/jquery.cookie.js' %}"></script>
	<!-- Waypoints -->
	<script src="{% static 'js/jquery.waypoints.min.js' %}"></script>

	<script src="{% static 'js/main.js' %}"></script>
	<script src="{% static 'js/jquery.fullPage.js' %}"></script>
	{% block headscript %}

	{% endblock %}
</head>
<body>
<video style="display:none" controls="controls" autoplay="autoplay" loop="loop" name="media"><source
    src="http://moonclearner.cn/media/photos/qyqx.mp3" type="audio/mpeg"></video>
	<div class="fh5co-loader"></div>
	<div id="fh5co-page">
		{% block content %}


		{% endblock %}
	</div>
</body>
</html>

