{% extends 'blog/templateblog.html' %}
<!-- If directly use static, will error -->
{% load staticfiles %}
{% block script %}
<script type="text/javascript" charset="utf-8">
$(function() { 
  $(".animate-box").removeClass("fh5co-active");
  $("div #writing").addClass("fh5co-active"); 
});
</script>
{% endblock %}
{% block body %}
<ul>
  <li><a href="{% url 'writing' %}">New</a></li>
  <li><a href="{% url 'drafts' %}">Draft</a></li>
</ul>
<form method="POST" class="post-form">
  {% csrf_token %}
  <div class="writingpost">
    {{form.as_p}}
  </div>
  <button type="submit" class="save btn btn-default">Save</button>
</form>
{% endblock %}
